@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.homepage-image {
  width: 100%;
  position: relative;
}

.hand-lettered-nav {
  width: 100%;
}

.small-hand-lettered-nav {
  width: 76%;
}

.absolute-bottom {
  position: absolute;
  bottom: 3%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

nav ol {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-right: 2em;
  padding-left: 2em;
}

nav li {
  display: inline-block;
  width: 25%;
  font-family: 'PT Sans Narrow', sans-serif;
}

nav a{
  padding: 0.5em;
  margin: 0em;
  text-decoration: none;
  display: block;
}

a {
  text-decoration: none;
}

.homepage-icons {
  width: 10%;
  height: 10%;
}

.absolute-left {
  position: absolute;
  top: 10%;
  padding-left: 2em;
  flex-direction: column;
  display: flex;
}

.position-relative {
  position:relative;
}

p {
  font-family: 'Coming Soon', cursive;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.green {
  color: #73c04a
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  margin-left: 0.5em;
}

.me {
  width: 100%;
}

.nav-bar {
  overflow: hidden;
  background-color: rgba(127, 205, 153, 0.5);
  bottom: 0;
  width: 100%;
}

.nav-center {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 0.5em;
  padding-left: 25px;
  padding-right: 25px;
}

.green-background {
  background-color: #e7f9af;
}

.white {
  color: white;
}

.icons {
  height: 30%;
  padding-top: 1em;
  margin-left: 0.75em;
}

.email {
  color: #a1cd3a;
  margin-left: 0.75em;
}

.email:hover {
  color: #73c04a;
}

.work {
  width: 90%;
}

.description-page-img {
  width: 100%;
}

.padding {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.centered {
  text-align: center;
}

.btn {
  padding: 0.375em 1.5em 0.42em;
  background-color: #a1cd3a;
  color: white;
}

.btn:hover {
  background-color: #73c04a;
}

.border {
  border-bottom: 3px solid #a1cd3a;
}

.sketches {
  width: 75%;
  display: inline-block;;
}

.background {
  background-color: #e7f9af;
}

.not-found-page {
  width: 75%;
  padding-left: 15em;
}

.nfp {
  padding: 0;
  text-align: center;
}

.nfp-link {
  padding: 0;
  text-align: center;
  color: #a1cd3a;
}

@media only screen and (min-width: 38em) {

  .homepage-icons {
    width: 7%;
    height: 7%;
  }

  .absolute-bottom {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }


  nav ol {
    padding-right: 4em;
    padding-left: 0;
  }

  .absolute-left {
    position: absolute;
    top: 15%;
    padding-left: 3em;
    flex-direction: column;
    display: flex;
  }

  .hand-lettered-nav {
    width: 50%;
  }

  .small-hand-lettered-nav {
    width: 33%;
  }

  .work {

  }

  .icons {
    height: 60%;
    width: 30%;
  }

  .description-page-img {
    width: 100%;
    padding-top: 1em;
  }
}



@media only screen and (min-width: 60em) {

  h2 {
    margin: 0 auto;
    max-width: 60%;
  }

  p {
    max-width: 60%;
    margin: 0 auto;
  }

  .work {

  }

  .icons {
    width: 40%;
    height: 20%;
    display: block;
  }

  .description-page-img {
    width: 100%;
  }

  .email {
    color: #a1cd3a;
    margin: 20%;
  }
}
