@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.homepage-image {
  width: 100%;
  position: relative;
}

.hand-lettered-nav {
  width: 50%;
}

.small-hand-lettered-nav {
  width: 33%;
}

.absolute-bottom {
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

nav ol {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-right: 4em;
  padding-left: 0;
}

nav li {
  display: inline-block;
  width: 25%;
  font-family: 'PT Sans Narrow', sans-serif;
}

nav a{
  padding: 0.5em;
  margin: 0em;
  text-decoration: none;
  display: block;
}

a {
  text-decoration: none;
}

.icons {
  width: 60px;
}

.absolute-left {
  position: absolute;
  top: 5%;
  padding-left: 4em;
}

.position-relative {
  position:relative;
}

p {
  font-family: 'Coming Soon', cursive;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 1em;
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.me {
  width: 100%;
}

.nav-bar {
  overflow: hidden;
  background-color: rgba(127, 205, 153, 0.5);
  bottom: 0;
  width: 100%;
}

.nav-center {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.white {
  color: white;
}

.work {
  max-height: 300px;
}

.centered {
  text-align: center;
}

.btn {
  padding: 0.375em 1.5em 0.42em;
  background-color: #a1cd3a;
  color: white;
}

.btn:hover {
  background-color: #73c04a;
}

.sketches {
  width: 75%;
  display: inline-block;;
}

@media only screen and (min-width: 38em) {

  .work {
    max-height: 400px;
  }
}



@media only screen and (min-width: 60em) {

  .work {
    max-height: 550px;
  }
}
