<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Marissa Boswall</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:url" content="http://www.http://marissaboswall.ca"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Marissa Boswall's Portfolio" />
  <meta property="og:description" content="Come check out my awesome work!"/>
  <meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg"/>
  <link href="https://fonts.googleapis.com/css?family=Coming+Soon|PT+Sans+Narrow:700" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  {{content}}


</body>
</html>
